/*
$background-main: rgba(55, 255, 255, .8);

$color-primary-dark: rgb(204, 150, 95);
$color-primary-light: rgba(218, 186, 154, 0.199);
$color-primary-lightest: rgba(218, 186, 154, 0.103);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-light: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
// $text-color-primary: rgb(76, 23, 122);
$text-color-primary: rgb(30, 107, 47);
$text-shadow-light: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65%; }
  @media (max-width: 1250px) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 1000px) {
    html {
      font-size: 60%; } }
  @media (max-width: 520px) {
    html {
      font-size: 55%; } }
  @media (max-width: 480px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: black;
  box-sizing: border-box; }

.home_container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1350px) {
    .home_container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }

.home-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 1100px) {
    .home-header {
      height: 6rem; } }
  @media (max-width: 930px) {
    .home-header {
      grid-template-columns: min-content 1fr; } }
  @media (max-width: 700px) {
    .home-header {
      grid-template-columns: 1fr; } }
  .home-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    @media (max-width: 700px) {
      .home-header-logo {
        display: none; } }
    .home-header-logo__img {
      height: 100%; }
  .home-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 0rem;
    grid-template-areas: "home do proj about cont tog";
    margin-right: .5rem;
    transition: all .2s ease-in-out; }
    @media (max-width: 930px) {
      .home-header-main-nav {
        grid-template-columns: 1fr;
        grid-template-rows: 7rem;
        grid-auto-rows: 0rem;
        grid-auto-flow: row;
        grid-template-areas: "tog" "home" "do"  "proj"  "about"  "cont";
        overflow: hidden;
        z-index: 100;
        transition: all .5s ease-in-out; } }
    @media (max-width: 700px) {
      .home-header-main-nav {
        grid-template-areas: "tog" "home" "do"  "proj"  "about"  "cont";
        grid-column: 1 / -1; } }
    .home-header-main-nav__item {
      list-style: none; }
      @media (max-width: 930px) {
        .home-header-main-nav__item:not(:last-child) {
          visibility: visible;
          justify-self: end;
          transition: all .5s ease-in-out; } }
    .home-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
      @media (max-width: 930px) {
        .home-header-main-nav__link {
          color: black; } }
    .home-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }
    .home-header-main-nav__icon {
      visibility: hidden; }
      @media (max-width: 930px) {
        .home-header-main-nav__icon {
          visibility: visible;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          font-size: 2rem;
          color: #ff4212;
          transition: all .3s ease-in-out; }
          .home-header-main-nav__icon:hover {
            transform: scale(1.2); }
          .home-header-main-nav__icon:active {
            transform: rotate(90deg); } }

.responsive {
  grid-template-rows: repeat(6, 7rem);
  grid-template-areas: "tog" "home" "do"  "proj"  "about"  "cont";
  background-color: #cfcfd2;
  transition: all .05s ease-in-out;
  overflow: visible; }

.home {
  grid-area: home;
  padding-right: 1rem; }

.do {
  grid-area: do;
  padding-right: 1rem; }

.proj {
  grid-area: proj;
  padding-right: 1rem; }

.about {
  grid-area: about;
  padding-right: 1rem; }

.cont {
  grid-area: cont;
  padding-right: 1rem; }

.tog {
  grid-area: tog;
  padding-right: 1rem; }

.visibility {
  visibility: hidden; }

.home-header-small {
  height: 5rem; }

.sticky-nav-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 0rem;
  visibility: hidden;
  margin-bottom: -1rem;
  transition: all 300ms ease-in-out;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.appear {
  height: 5rem;
  visibility: visible;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  margin-bottom: -1rem; }

.header_logo_sticky {
  grid-column: 1 / 6;
  height: 90%; }

.sticky-nav {
  grid-column: 7 / 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  align-items: center; }
  .sticky-nav__item {
    list-style: none; }
  .sticky-nav__link {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: black; }
  .sticky-nav__link:hover {
    transform: translateY(5px);
    color: #ff4212; }

.head_container {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  height: 80vh;
  margin-top: -1rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1.5fr 1fr;
  background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.3), rgba(211, 211, 211, 0.7)), url(../img/main-header.jpg);
  background-size: 100%;
  background-position: top center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 86%, 78% 100%, 0 100%, 0% 80%, 0% 20%);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 86%, 78% 100%, 0 100%, 0% 80%, 0% 20%);
  position: relative;
  transition: all .2s ease-in-out; }
  @media (max-width: 900px) {
    .head_container {
      background-size: cover;
      background-position: center; } }
  @media (max-width: 750px) {
    .head_container {
      height: 50rem; } }
  .head_container-logo {
    height: 9rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center; }

.contact_header {
  grid-column: 1 / 10;
  grid-row: 1 / 2;
  height: 6rem;
  transition: all 400ms ease-in-out;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 770px) {
    .contact_header {
      height: 4rem; } }
  @media (max-width: 800px) {
    .contact_header {
      visibility: hidden;
      height: 0rem; } }
  .contact_header__email {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    @media (max-width: 1100px) {
      .contact_header__email {
        grid-column: 2 / 3; } }
    @media (max-width: 770px) {
      .contact_header__email {
        grid-column: 1 / 2; } }
  .contact_header__emailLogo {
    color: black;
    justify-self: right;
    align-self: center;
    margin-right: 5px;
    font-size: 2.5rem; }
  .contact_header__emailText {
    color: black;
    justify-self: left;
    align-self: center;
    font-size: 1.3rem; }
  .contact_header__getstarted {
    grid-column: 4 / 5;
    align-self: center;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    @media (max-width: 1100px) {
      .contact_header__getstarted {
        grid-column: 3 / 4; } }
    @media (max-width: 770px) {
      .contact_header__getstarted {
        grid-column: 2 / 3; } }
  .contact_header__startLogo {
    color: black;
    justify-self: right;
    align-self: center;
    margin-right: 5px;
    font-size: 2.5rem; }
  .contact_header__startText {
    color: black;
    justify-self: center;
    align-self: center;
    font-size: 1.3rem;
    text-transform: uppercase; }
    .contact_header__startText-link {
      text-decoration: none; }
      .contact_header__startText-link:visited {
        text-decoration: none;
        color: inherit; }
      .contact_header__startText-link:hover {
        text-decoration: none;
        color: inherit; }

.gone {
  height: 0; }

.nav_menu_header {
  grid-column: 2 / 9;
  grid-row: 2 / 3;
  height: 9rem;
  transition: all 400ms ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 1200px) {
    .nav_menu_header {
      height: 7rem; } }
  @media (max-width: 930px) {
    .nav_menu_header {
      grid-column: 1 / 9; } }
  @media (max-width: 800px) {
    .nav_menu_header {
      grid-row: 1 / 2; } }

.header_logo {
  grid-column: 1 / 2;
  height: 80%;
  transition: all .2s ease-in-out; }
  @media (max-width: 1200px) {
    .header_logo {
      align-self: center; } }
  @media (max-width: 800px) {
    .header_logo {
      display: none;
      height: 0%; } }

.main-nav {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  align-items: center; }
  @media (max-width: 1200px) {
    .main-nav {
      justify-items: center; } }
  @media (max-width: 800px) {
    .main-nav {
      grid-column: 1 / 3; } }
  .main-nav__item {
    list-style: none; }
  .main-nav__link {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: black; }
  .main-nav__link:hover {
    transform: translateY(5px);
    color: #ff4212; }

.small {
  height: 7rem; }

.logo_gone {
  height: 0rem; }

.scrolling_text_container {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  height: auto;
  display: grid;
  align-items: center;
  justify-items: center; }
  @media (max-width: 750px) {
    .scrolling_text_container {
      grid-row: 2 / 3; } }
  .scrolling_text_container_text {
    font-size: 3rem;
    text-align: center;
    animation: animatewords 2s 1s ease-in-out; }
    @media (max-width: 750px) {
      .scrolling_text_container_text {
        font-size: 2.5rem; } }
    .scrolling_text_container_text_span {
      color: #ff4212; }

@keyframes animatewords {
  0% {
    transform: translateY(400px); }
  75% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

.end {
  grid-column: 3 / 4;
  font-size: 4rem;
  justify-self: start; }

.content-intro-container {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  height: 40rem;
  z-index: 5;
  background-color: #ff4212;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  @media (max-width: 1080px) {
    .content-intro-container {
      height: 35rem; } }
  @media (max-width: 800px) {
    .content-intro-container {
      height: 35rem; } }
  @media (max-width: 685px) {
    .content-intro-container {
      height: 35rem; } }
  @media (max-width: 630px) {
    .content-intro-container {
      height: 35rem; } }
  @media (max-width: 510px) {
    .content-intro-container {
      height: 36rem; } }
  @media (max-width: 470px) {
    .content-intro-container {
      height: 40rem; } }
  @media (max-width: 420px) {
    .content-intro-container {
      height: 43rem; } }

.content-intro-clip {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  background-color: #efeff5;
  -webkit-clip-path: polygon(18% 0, 100% 0, 100% 45%, 78% 100%, 0 100%, 0 51%);
  clip-path: polygon(18% 0, 100% 0, 100% 45%, 78% 100%, 0 100%, 0 51%); }
  @media (max-width: 850px) {
    .content-intro-clip {
      -webkit-clip-path: none;
      clip-path: none; } }

.content-intro-text {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  padding: 0rem 15rem 0rem 12rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr; }
  @media (max-width: 850px) {
    .content-intro-text {
      grid-column: 1 / -1;
      padding: 2rem; } }

.intro-text-header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 4rem;
  justify-self: center;
  align-self: center;
  padding-top: 2rem;
  padding-left: 7.5rem; }
  @media (max-width: 1080px) {
    .intro-text-header {
      font-size: 3.5rem; } }
  @media (max-width: 850px) {
    .intro-text-header {
      grid-row: 1 / 2; } }
  @media (max-width: 400px) {
    .intro-text-header {
      padding-left: 1rem; } }
  .intro-text-header__red {
    color: #ff4212; }

.intro-text-content {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  justify-self: center;
  padding-top: 4.7rem;
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: .5px; }
  @media (max-width: 1080px) {
    .intro-text-content {
      font-size: 1.3rem; } }
  @media (max-width: 850px) {
    .intro-text-content {
      grid-row: 2 / 4; } }

.what-we-do-background {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: #efeff5;
  background-image: url(../img/watemark_2x.png);
  background-position: center; }

.what-we-do {
  grid-column: 2 / 12;
  grid-row: 4 / 5;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1200px) {
    .what-we-do {
      grid-column: 1 / -1; } }
  @media (max-width: 860px) {
    .what-we-do {
      grid-template-columns: 1fr; } }
  .what-we-do_header {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    font-size: 4rem; }

.custom-design {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem; }
  .custom-design_logo {
    color: #ff4212;
    font-size: 7rem;
    justify-self: center;
    align-self: center; }
  .custom-design_heading {
    font-size: 2.5rem;
    align-self: center;
    margin-left: 1rem; }
  .custom-design_info {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    line-height: 1.5; }
  .custom-design-button {
    justify-self: end;
    background-color: #ff4212;
    color: white;
    display: block;
    width: 10rem;
    border-radius: 7%;
    height: 2.5rem;
    text-align: center;
    box-shadow: 2px 5px 2px lightgray;
    transition: all .2s ease-in-out;
    text-decoration: none; }
    .custom-design-button:hover {
      transform: translateY(-2px); }
    .custom-design-button:active {
      transform: translateY(2px); }

.planning {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem; }
  @media (max-width: 860px) {
    .planning {
      grid-column: 1 / 2; } }
  .planning_logo {
    color: #ff4212;
    font-size: 7rem;
    justify-self: center;
    align-self: center; }
  .planning_heading {
    font-size: 2.5rem;
    align-self: center;
    margin-left: 1rem; }
  .planning_info {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    line-height: 1.5; }

.seo {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem; }
  .seo_logo {
    color: #ff4212;
    font-size: 7rem;
    justify-self: center;
    align-self: center; }
  .seo_heading {
    font-size: 2.5rem;
    align-self: center;
    margin-left: 1rem; }
  .seo_info {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    line-height: 1.5; }

.socially-responsible {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem; }
  @media (max-width: 860px) {
    .socially-responsible {
      grid-column: 1 / 2; } }
  .socially-responsible_logo {
    color: #ff4212;
    font-size: 7rem;
    justify-self: center;
    align-self: center; }
  .socially-responsible_heading {
    font-size: 2.5rem;
    align-self: center;
    margin-left: 1rem; }
  .socially-responsible_info {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    line-height: 1.5; }

.responsive-design {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem; }
  .responsive-design_logo {
    color: #ff4212;
    font-size: 7rem;
    justify-self: center;
    align-self: center; }
  .responsive-design_heading {
    font-size: 2.5rem;
    align-self: center;
    margin-left: 1rem; }
  .responsive-design_info {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    line-height: 1.5; }

.logo-design {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem; }
  @media (max-width: 860px) {
    .logo-design {
      grid-column: 1 / 2; } }
  .logo-design_logo {
    color: #ff4212;
    font-size: 7rem;
    justify-self: center;
    align-self: center; }
  .logo-design_heading {
    font-size: 2.5rem;
    align-self: center;
    margin-left: 1rem; }
  .logo-design_info {
    grid-column: 2 / 3;
    font-size: 1.4rem;
    line-height: 1.5; }

.difference-background {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  background-color: #efeff5; }

.difference {
  grid-column: 2 / 12;
  grid-row: 5 / 6;
  padding: 2rem 4rem;
  grid-column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 980px) {
    .difference {
      grid-row-gap: 1rem; } }
  @media (max-width: 1200px) {
    .difference {
      grid-column: 1 / 13; } }
  @media (max-width: 980px) {
    .difference {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 630px) {
    .difference {
      grid-template-columns: 1fr; } }
  .difference_header {
    grid-column: 1 / -1;
    font-size: 3.5rem;
    justify-self: center;
    margin-bottom: 2rem; }

.sme-specialists {
  grid-column: 1 / 2;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1.5fr 2fr; }
  .sme-specialists_header {
    font-size: 2.5rem;
    justify-self: center; }
  .sme-specialists_img {
    font-size: 6rem;
    color: #ff4212;
    justify-self: center; }
  .sme-specialists_info {
    font-size: 1.4rem;
    line-height: 1.5;
    align-self: center; }

.personal {
  grid-column: 2 / 3;
  background-color: #ff4212;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1.5fr 2fr; }
  @media (max-width: 630px) {
    .personal {
      grid-column: 1 / 2; } }
  .personal_header {
    font-size: 2.5rem;
    justify-self: center;
    color: white; }
  .personal_img {
    font-size: 6rem;
    color: white;
    justify-self: center; }
  .personal_info {
    color: white;
    font-size: 1.4rem;
    line-height: 1.5;
    align-self: center; }

.social {
  grid-column: 3 / 4;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1.5fr 2fr; }
  @media (max-width: 980px) {
    .social {
      grid-column: 1 / 2; } }
  .social_header {
    font-size: 2.5rem;
    justify-self: center; }
  .social_img {
    font-size: 6rem;
    color: #ff4212;
    justify-self: center; }
  .social_info {
    font-size: 1.3rem;
    line-height: 1.4;
    align-self: center; }

.feedback-container {
  grid-column: 2 / 12;
  min-height: 30rem;
  display: grid;
  grid-template-columns: minxmax(90rem, 1fr); }
  @media (max-width: 1200px) {
    .feedback-container {
      grid-column: 1 / -1; } }

.footer-container {
  grid-column: 1 / -1;
  min-height: 25rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.footer {
  grid-column: 1 / -1;
  padding: 2rem;
  background-color: #c5c5c7;
  display: grid;
  grid-template-columns: repeat(3, minmax(40rem, 1fr)); }
  @media (max-width: 1270px) {
    .footer {
      grid-template-columns: repeat(2, minmax(40rem, 1fr)); } }
  @media (max-width: 870px) {
    .footer {
      grid-template-columns: minmax(20rem, 1fr);
      grid-row-gap: 1rem; } }
  .footer-nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-top: 2px solid black;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; }
    .footer-nav__item {
      list-style: none; }
    .footer-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black;
      transition: all .2s ease-in-out; }
    .footer-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }
  .footer-social {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-top: 2px solid black;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; }
    @media (max-width: 1270px) {
      .footer-social {
        grid-column: 2 / 3;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end; } }
    @media (max-width: 870px) {
      .footer-social {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-items: center; } }
    .footer-social__item {
      list-style: none; }
    .footer-social__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black;
      transition: all .2s ease-in-out; }
    .footer-social__link:hover {
      transform: translateY(5px);
      color: #ff4212; }
    .footer-social__img {
      font-size: 3rem; }
  .footer-company {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: center; }
    @media (max-width: 870px) {
      .footer-company {
        grid-row: 4 / 5; } }
    .footer-company__span {
      color: #ff4212; }

.logo-footer {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 10rem;
  justify-self: center;
  align-self: center;
  padding-bottom: 2rem;
  transform: translateY(5.3rem);
  transition: all .2s ease-in-out; }
  @media (max-width: 1270px) {
    .logo-footer {
      transform: translateY(0rem); } }

.design-container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1200px) {
    .design-container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }
  @media (max-width: 1100px) {
    .design-container {
      grid-template-columns: 8rem repeat(10, 1fr) 8rem; } }
  @media (max-width: 1050px) {
    .design-container {
      grid-template-columns: 2rem repeat(10, 1fr) 2rem; } }

.design-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .design-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    .design-header-logo__img {
      height: 100%; }
  .design-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .design-header-main-nav__item {
      list-style: none; }
    .design-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
    .design-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }

.design-header-small {
  height: 5rem; }

.design-banner {
  grid-column: 1 / -1;
  height: 20rem;
  background-image: url(../img/main-header.jpg);
  background-size: cover;
  background-position: 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  .design-banner-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    align-self: center;
    justify-self: center; }
    @media (max-width: 500px) {
      .design-banner-header {
        font-size: 2rem; } }
  .design-banner-span {
    color: #ff4212; }
  .design-banner-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 2.2rem;
    letter-spacing: 1.2px;
    align-self: start;
    justify-self: center; }
    @media (max-width: 650px) {
      .design-banner-info {
        font-size: 1.7rem; } }
    @media (max-width: 500px) {
      .design-banner-info {
        padding-left: 10rem;
        padding-right: 10rem; } }

.design-process {
  grid-column: 2 / 12;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem; }
  @media (max-width: 1000px) {
    .design-process {
      grid-column: 1/-1; } }
  @media (max-width: 700px) {
    .design-process {
      grid-template-columns: 1fr; } }
  .design-process-intro {
    grid-column: 1 / -1;
    height: 20rem;
    border: 1.2px dashed #ff4212;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    @media (max-width: 1000px) {
      .design-process-intro {
        padding: .5rem; } }
    @media (max-width: 750px) {
      .design-process-intro {
        height: auto; } }
    .design-process-intro__header {
      grid-row: 1 / 2;
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: 1.2px; }
      @media (max-width: 740px) {
        .design-process-intro__header {
          font-size: 2.5rem; } }
    .design-process-intro__info {
      grid-row: 2 / 3;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 7rem;
      padding-right: 7rem;
      justify-self: center;
      font-size: 1.5rem;
      line-height: 1.4;
      letter-spacing: 1.2px; }
      @media (max-width: 740px) {
        .design-process-intro__info {
          font-size: 1.3rem; } }
  .design-process-step1, .design-process-step2, .design-process-step3, .design-process-step4 {
    grid-column: 1 / -1;
    height: auto;
    border: 1.2px dashed #ff4212;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1rem; }
  .design-process-step1 {
    background-color: #efeff5; }
  .design-process-step3 {
    background-color: #efeff5; }
  .design-process-step1__left-side, .design-process-step2__left-side, .design-process-step3__left-side, .design-process-step4__left-side {
    grid-column: 1 / 2;
    padding: 2rem;
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 2%; }
    @media (max-width: 700px) {
      .design-process-step1__left-side, .design-process-step2__left-side, .design-process-step3__left-side, .design-process-step4__left-side {
        display: none; } }
  .design-process-step1__left-side {
    background-image: linear-gradient(to right bottom, rgba(239, 239, 245, 0.5), rgba(239, 239, 245, 0.2)), url(../img/sketch.jpg); }
  .design-process-step2__left-side {
    background-image: linear-gradient(to right bottom, rgba(239, 239, 245, 0.5), rgba(239, 239, 245, 0.2)), url(../img/wireframe.jpg); }
  .design-process-step3__left-side {
    background-image: linear-gradient(to right bottom, rgba(239, 239, 245, 0.5), rgba(239, 239, 245, 0.2)), url(../img/firstdraft.jpg); }
  .design-process-step4__left-side {
    background-image: linear-gradient(to right bottom, rgba(239, 239, 245, 0.5), rgba(239, 239, 245, 0.2)), url(../img/website-complete.jpg); }
  .design-process-step1__right-side, .design-process-step2__right-side, .design-process-step3__right-side, .design-process-step4__right-side {
    grid-column: 2 / 3;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 2fr; }
    @media (max-width: 700px) {
      .design-process-step1__right-side, .design-process-step2__right-side, .design-process-step3__right-side, .design-process-step4__right-side {
        grid-column: 1 / -1; } }
    .design-process-step1__right-side__title, .design-process-step2__right-side__title, .design-process-step3__right-side__title, .design-process-step4__right-side__title {
      align-self: center;
      justify-self: center;
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: 1.2px; }
      @media (max-width: 930px) {
        .design-process-step1__right-side__title, .design-process-step2__right-side__title, .design-process-step3__right-side__title, .design-process-step4__right-side__title {
          font-size: 2.2rem; } }
      .design-process-step1__right-side__title-span, .design-process-step2__right-side__title-span, .design-process-step3__right-side__title-span, .design-process-step4__right-side__title-span {
        color: #ff4212;
        padding-right: 5px; }
    .design-process-step1__right-side__text, .design-process-step2__right-side__text, .design-process-step3__right-side__text, .design-process-step4__right-side__text {
      justify-self: center;
      align-self: start;
      font-size: 1.5rem;
      line-height: 1.4;
      letter-spacing: 1.2px;
      padding: 0 5rem; }
      @media (max-width: 930px) {
        .design-process-step1__right-side__text, .design-process-step2__right-side__text, .design-process-step3__right-side__text, .design-process-step4__right-side__text {
          font-size: 1.3rem; } }

.hosting-container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1200px) {
    .hosting-container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }
  @media (max-width: 1100px) {
    .hosting-container {
      grid-template-columns: 8rem repeat(10, 1fr) 8rem; } }
  @media (max-width: 1050px) {
    .hosting-container {
      grid-template-columns: 2rem repeat(10, 1fr) 2rem; } }

.hosting-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, minmax(50rem, 1fr)); }
  .hosting-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    .hosting-header-logo__img {
      height: 100%; }
  .hosting-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .hosting-header-main-nav__item {
      list-style: none; }
    .hosting-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
    .hosting-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }

.hosting-header-small {
  height: 5rem; }

.hosting-banner {
  grid-column: 1 / -1;
  height: 20rem;
  background-image: url(../img/main-header.jpg);
  background-size: cover;
  background-position: 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  .hosting-banner-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    justify-self: center;
    align-self: center; }
    @media (max-width: 500px) {
      .hosting-banner-header {
        font-size: 2rem; } }
  .hosting-banner-span {
    color: #ff4212; }
  .hosting-banner-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: center;
    font-size: 2.2rem;
    letter-spacing: 1.2px; }
    @media (max-width: 650px) {
      .hosting-banner-info {
        font-size: 1.7rem; } }
    @media (max-width: 500px) {
      .hosting-banner-info {
        padding-left: 10rem;
        padding-right: 10rem; } }

.hosting-maintanence-container {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.hosting-maintanence {
  grid-column: 1 / -1;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column-gap: 2rem; }
  @media (max-width: 750px) {
    .hosting-maintanence {
      grid-template-columns: 1fr; } }
  .hosting-maintanence-intro {
    grid-column: 1 / -1;
    height: 20rem;
    border: 1.2px dashed #ff4212;
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .hosting-maintanence-intro__header {
      grid-row: 1 / 2;
      font-size: 3rem;
      line-height: 1.2;
      letter-spacing: 1.2px; }
      @media (max-width: 640px) {
        .hosting-maintanence-intro__header {
          font-size: 2.4rem; } }
    .hosting-maintanence-intro__info {
      grid-row: 2 / 3;
      padding: 2rem;
      justify-self: center;
      font-size: 1.5rem;
      letter-spacing: 1.1px; }
  .hosting-maintanence-hosting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1.2px dashed #ff4212;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr; }
    @media (max-width: 750px) {
      .hosting-maintanence-hosting {
        grid-column: 1 / -1; } }
    .hosting-maintanence-hosting-header {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
      font-size: 3rem; }
      @media (max-width: 640px) {
        .hosting-maintanence-hosting-header {
          font-size: 2.4rem;
          margin-bottom: 1rem; } }
    .hosting-maintanence-hosting-icon {
      grid-row: 2 / 3;
      font-size: 6rem;
      color: #ff4212;
      justify-self: center;
      align-self: center; }
    .hosting-maintanence-hosting-info {
      grid-row: 3 / 4;
      justify-self: center;
      font-size: 1.5rem;
      letter-spacing: 1.1px;
      align-self: center;
      text-align: center; }
  .hosting-maintanence-maintanence {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1.2px dashed #ff4212;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr; }
    @media (max-width: 750px) {
      .hosting-maintanence-maintanence {
        grid-column: 1 / -1;
        grid-row: 3 / 4; } }
    .hosting-maintanence-maintanence-header {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
      font-size: 3rem; }
      @media (max-width: 640px) {
        .hosting-maintanence-maintanence-header {
          font-size: 2.4rem; } }
    .hosting-maintanence-maintanence-icon {
      grid-row: 2 / 3;
      font-size: 6rem;
      color: #ff4212;
      justify-self: center;
      align-self: center; }
    .hosting-maintanence-maintanence-info {
      grid-row: 3 / 4;
      justify-self: center;
      font-size: 1.5rem;
      letter-spacing: 1.1px;
      align-self: center;
      text-align: center; }

.seo-container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1200px) {
    .seo-container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }
  @media (max-width: 1100px) {
    .seo-container {
      grid-template-columns: 8rem repeat(10, 1fr) 8rem; } }
  @media (max-width: 1050px) {
    .seo-container {
      grid-template-columns: 2rem repeat(10, 1fr) 2rem; } }

.seo-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, minmax(50rem, 1fr)); }
  .seo-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    .seo-header-logo__img {
      height: 100%; }
  .seo-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .seo-header-main-nav__item {
      list-style: none; }
    .seo-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
    .seo-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }

.seo-header-small {
  height: 5rem; }

.seo-banner {
  grid-column: 1 / -1;
  height: 20rem;
  background-image: url(../img/main-header.jpg);
  background-size: cover;
  background-position: 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  .seo-banner-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    justify-self: center;
    align-self: center; }
    @media (max-width: 500px) {
      .seo-banner-header {
        font-size: 2rem; } }
  .seo-banner-span {
    color: #ff4212; }
  .seo-banner-info {
    grid-column: 1 / 2;
    justify-self: center;
    grid-row: 2 / 3;
    font-size: 2.2rem;
    letter-spacing: 1.2px;
    align-self: start; }
    @media (max-width: 650px) {
      .seo-banner-info {
        font-size: 1.7rem; } }
    @media (max-width: 500px) {
      .seo-banner-info {
        padding-left: 10rem;
        padding-right: 10rem; } }

.seo-details {
  grid-column: 2 / 12;
  height: auto;
  border: 1.2px dashed #ff4212;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 1rem;
  grid-column-gap: 2rem; }
  .seo-details-heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    align-self: center;
    justify-self: center;
    padding: 1rem; }
    @media (max-width: 560px) {
      .seo-details-heading {
        font-size: 2.4rem; } }
    @media (max-width: 450px) {
      .seo-details-heading {
        font-size: 2.3rem; } }
  .seo-details-info {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 2rem 12rem;
    justify-self: center;
    font-size: 1.5rem;
    letter-spacing: 1.1px; }
    @media (max-width: 1300px) {
      .seo-details-info {
        padding: 2rem 8rem; } }
    @media (max-width: 560px) {
      .seo-details-info {
        padding: 2rem 7rem; } }
    @media (max-width: 450px) {
      .seo-details-info {
        padding: 1rem 3rem; } }
    .seo-details-info-span {
      color: #ff4212;
      font-weight: 800; }

.seo-cta {
  grid-column: 1 / -1;
  height: 30rem;
  background-image: linear-gradient(to right bottom, rgba(255, 66, 18, 0.4), rgba(255, 66, 18, 0.1)), url(../img/google.jpg);
  background-size: cover;
  background-position: center;
  display: grid; }
  .seo-cta-title {
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px; }
    @media (max-width: 850px) {
      .seo-cta-title {
        font-size: 2.6rem; } }
    @media (max-width: 730px) {
      .seo-cta-title {
        font-size: 2.3rem; } }
    .seo-cta-title-span {
      color: white; }

.seo-process {
  grid-column: 2 / 12;
  height: 25rem;
  border: 1.2px dashed #ff4212;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 1rem;
  grid-column-gap: 2rem; }
  .seo-process-heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    align-self: center;
    justify-self: center; }
  .seo-process-info {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-left: 1rem;
    justify-self: center;
    font-size: 1.5rem;
    letter-spacing: 1.1px; }
    @media (max-width: 500px) {
      .seo-process-info {
        padding-bottom: 3rem; } }
    .seo-process-info-item {
      margin-top: 2rem;
      margin-left: 5rem; }

.sr-container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1200px) {
    .sr-container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }
  @media (max-width: 1100px) {
    .sr-container {
      grid-template-columns: 8rem repeat(10, 1fr) 8rem; } }
  @media (max-width: 1050px) {
    .sr-container {
      grid-template-columns: 2rem repeat(10, 1fr) 2rem; } }

.sr-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .sr-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    .sr-header-logo__img {
      height: 100%; }
  .sr-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .sr-header-main-nav__item {
      list-style: none; }
    .sr-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
    .sr-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }

.sr-header-small {
  height: 5rem; }

.sr-banner {
  grid-column: 1 / -1;
  height: 20rem;
  background-image: url(../img/main-header.jpg);
  background-size: cover;
  background-position: 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  .sr-banner-header {
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    justify-self: center;
    align-self: center; }
    @media (max-width: 500px) {
      .sr-banner-header {
        font-size: 2rem; } }
  .sr-banner-span {
    color: #ff4212; }
  .sr-banner-info {
    grid-row: 2 / 3;
    justify-self: center;
    font-size: 2.2rem;
    letter-spacing: 1.2px; }
    @media (max-width: 650px) {
      .sr-banner-info {
        font-size: 1.7rem; } }
    @media (max-width: 500px) {
      .sr-banner-info {
        padding-left: 10rem;
        padding-right: 10rem; } }

.sr-intro {
  grid-column: 2 / 12;
  height: auto;
  border: 1.2px dashed #ff4212;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr; }
  @media (max-width: 630px) {
    .sr-intro {
      grid-template-columns: 1fr; } }
  .sr-intro-heading {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px; }
    @media (max-width: 630px) {
      .sr-intro-heading {
        grid-column: 1 / -1; } }
  .sr-intro-info {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 2rem 7rem;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1.1px; }
    @media (max-width: 630px) {
      .sr-intro-info {
        grid-column: 1 / 2;
        padding: 1rem 3rem; } }
  .sr-intro-icon {
    grid-row: 1 / -1;
    grid-column: 3 / 4;
    font-size: 15rem;
    color: #ff4212;
    justify-self: center;
    align-self: center;
    visibility: visible; }
    @media (max-width: 630px) {
      .sr-intro-icon {
        grid-column: 1 / 2;
        visibility: hidden; } }

.sr-partner {
  grid-column: 2 / 12;
  height: auto;
  border: 1.2px dashed #ff4212;
  display: grid;
  background-color: #efeff5;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 730px) {
    .sr-partner {
      grid-template-columns: 1fr; } }
  .sr-partner-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px; }
  .sr-partner-info {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding: 2rem 5rem;
    justify-self: center;
    align-self: start;
    font-size: 1.5rem;
    letter-spacing: 1.1px; }
    @media (max-width: 730px) {
      .sr-partner-info {
        grid-column: 1 / -1; } }
  .sr-partner-image {
    grid-row: 1 / -1;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
    height: 20rem;
    visibility: visible; }
    @media (max-width: 730px) {
      .sr-partner-image {
        grid-column: 1 / 2;
        visibility: hidden; } }

.rd-container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem; }
  @media (max-width: 1200px) {
    .rd-container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }
  @media (max-width: 1100px) {
    .rd-container {
      grid-template-columns: 8rem repeat(10, 1fr) 8rem; } }
  @media (max-width: 1050px) {
    .rd-container {
      grid-template-columns: 2rem repeat(10, 1fr) 2rem; } }

.rd-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .rd-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    .rd-header-logo__img {
      height: 100%; }
  .rd-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .rd-header-main-nav__item {
      list-style: none; }
    .rd-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
    .rd-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }

.rd-header-small {
  height: 5rem; }

.rd-banner {
  grid-column: 1 / -1;
  height: 20rem;
  background-image: url(../img/main-header.jpg);
  background-size: cover;
  background-position: 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  .rd-banner-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    justify-self: center;
    align-self: center; }
    @media (max-width: 500px) {
      .rd-banner-header {
        font-size: 2rem; } }
  .rd-banner-span {
    color: #ff4212; }
  .rd-banner-info {
    grid-column: 1 / 2;
    justify-self: center;
    grid-row: 2 / 3;
    font-size: 2.2rem;
    letter-spacing: 1.2px;
    align-self: start; }
    @media (max-width: 650px) {
      .rd-banner-info {
        font-size: 1.7rem; } }
    @media (max-width: 500px) {
      .rd-banner-info {
        padding-left: 10rem;
        padding-right: 10rem; } }

.rd-intro {
  grid-column: 2 / 12;
  height: auto;
  border: 1.2px dashed #ff4212;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr; }
  .rd-intro-heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 1.2px; }
  .rd-intro-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 3rem 3rem 3rem 6rem;
    justify-self: center;
    align-self: start;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    line-height: 1.3; }
    @media (max-width: 780px) {
      .rd-intro-info {
        grid-column: 1 / -1;
        padding: 1.2rem 1.2rem 1.2rem 3rem;
        font-size: 1.3rem;
        line-height: 1.4; } }
  .rd-intro-icons {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    visibility: visible; }
    @media (max-width: 780px) {
      .rd-intro-icons {
        grid-row: 2 / 3;
        visibility: hidden; } }
    .rd-intro-icons__1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: center; }
    .rd-intro-icons__2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: center; }
    .rd-intro-icons__3 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      justify-self: center; }
    .rd-intro-icons__1, .rd-intro-icons__2, .rd-intro-icons__3 {
      font-size: 10rem;
      color: #ff4212;
      align-self: center;
      margin-bottom: 1rem; }
      @media (max-width: 780px) {
        .rd-intro-icons__1, .rd-intro-icons__2, .rd-intro-icons__3 {
          font-size: 0; } }

.rd-process {
  grid-column: 2 / 12;
  min-height: 75rem;
  border: 1.2px dashed #ff4212;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem; }
  @media (max-width: 780px) {
    .rd-process {
      grid-template-columns: 1fr; } }
  .rd-process-mobile {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 35rem;
    border-radius: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .rd-process-mobile__image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      width: 100%; }
    .rd-process-mobile__overlay {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      opacity: 0;
      background-color: rgba(255, 66, 18, 0.7);
      z-index: 20;
      transition: all .2s ease-in-out;
      display: grid; }
      .rd-process-mobile__overlay__text {
        justify-self: center;
        align-self: center;
        padding: 2rem;
        font-size: 1.7rem;
        letter-spacing: 1.1px;
        color: white; }
      .rd-process-mobile__overlay:hover {
        opacity: 1; }
  .rd-process-tablet {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    @media (max-width: 780px) {
      .rd-process-tablet {
        grid-column: 1 / 2;
        grid-row: 2 / 3; } }
    .rd-process-tablet__image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      width: 100%; }
    .rd-process-tablet__overlay {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      opacity: 0;
      background-color: rgba(255, 66, 18, 0.7);
      z-index: 20;
      transition: all .2s ease-in-out;
      display: grid; }
      .rd-process-tablet__overlay__text {
        justify-self: center;
        align-self: center;
        padding: 2rem;
        font-size: 1.7rem;
        letter-spacing: 1.1px;
        color: white; }
      .rd-process-tablet__overlay:hover {
        opacity: 1; }
  .rd-process-laptop {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    @media (max-width: 780px) {
      .rd-process-laptop {
        grid-column: 1 / 2;
        grid-row: 3 / 4; } }
    .rd-process-laptop__image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      width: 100%; }
    .rd-process-laptop__overlay {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      opacity: 0;
      background-color: rgba(255, 66, 18, 0.7);
      z-index: 20;
      transition: all .2s ease-in-out;
      display: grid; }
      .rd-process-laptop__overlay__text {
        justify-self: center;
        align-self: center;
        padding: 2rem;
        font-size: 1.7rem;
        letter-spacing: 1.1px;
        color: white; }
      .rd-process-laptop__overlay:hover {
        opacity: 1; }
  .rd-process-desktop {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    @media (max-width: 780px) {
      .rd-process-desktop {
        grid-column: 1 / 2;
        grid-row: 4 / 5; } }
    .rd-process-desktop__image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      width: 100%; }
    .rd-process-desktop__overlay {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      opacity: 0;
      background-color: rgba(255, 66, 18, 0.7);
      z-index: 20;
      transition: all .2s ease-in-out;
      display: grid; }
      .rd-process-desktop__overlay__text {
        justify-self: center;
        align-self: center;
        padding: 2rem;
        font-size: 1.7rem;
        letter-spacing: 1.1px;
        color: white; }
      .rd-process-desktop__overlay:hover {
        opacity: 1; }

.ct-container {
  display: grid;
  grid-template-columns: 20rem repeat(10, 1fr) 20rem;
  grid-row-gap: 1rem;
  height: auto; }
  @media (max-width: 1200px) {
    .ct-container {
      grid-template-columns: 12rem repeat(10, 1fr) 12rem; } }
  @media (max-width: 1100px) {
    .ct-container {
      grid-template-columns: 8rem repeat(10, 1fr) 8rem; } }
  @media (max-width: 1050px) {
    .ct-container {
      grid-template-columns: 2rem repeat(10, 1fr) 2rem; } }

.ct-header {
  grid-column: 1 / -1;
  height: 8rem;
  position: sticky;
  top: 0;
  transition: all .5s ease-in-out;
  background-color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .ct-header-logo {
    grid-column: 1 / 2;
    height: inherit; }
    .ct-header-logo__img {
      height: 100%; }
  .ct-header-main-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .ct-header-main-nav__item {
      list-style: none; }
    .ct-header-main-nav__link {
      text-decoration: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: black; }
    .ct-header-main-nav__link:hover {
      transform: translateY(5px);
      color: #ff4212; }

.ct-header-small {
  height: 5rem; }

.contact-header {
  background-color: white; }

.ct-banner {
  grid-column: 1 / -1;
  height: 20rem;
  background-image: url(../img/main-header.jpg);
  background-size: cover;
  background-position: 20%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr; }
  .ct-banner-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 2.7rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    justify-self: center;
    align-self: center; }
    @media (max-width: 450px) {
      .ct-banner-header {
        font-size: 2rem; } }
  .ct-banner-span {
    color: #ff4212; }
  .ct-banner-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: center;
    font-size: 2.2rem;
    letter-spacing: 1.2px; }
    @media (max-width: 650px) {
      .ct-banner-info {
        font-size: 1.7rem; } }
    @media (max-width: 500px) {
      .ct-banner-info {
        padding-left: 15rem;
        padding-right: 10rem; } }

.ct-contact {
  grid-column: 2 / 12;
  grid-row: 3 / 4;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr; }
  @media (max-width: 880px) {
    .ct-contact {
      height: 72rem;
      grid-column: 1 / -1; } }
  @media (max-width: 490px) {
    .ct-contact {
      height: 77rem; } }
  .ct-contact-overlay1 {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    background-image: linear-gradient(to right bottom, #ff4212, #ff4212);
    z-index: 2;
    height: 100%;
    -webkit-clip-path: polygon(100% 24%, 100% 24%, 100% 100%, 21% 100%);
    clip-path: polygon(100% 24%, 100% 24%, 100% 100%, 21% 100%); }
    @media (max-width: 880px) {
      .ct-contact-overlay1 {
        grid-column: 1 / -1; } }
    @media (max-width: 450px) {
      .ct-contact-overlay1 {
        grid-template-rows: 60px repeat(3, 1fr); } }
  .ct-contact-overlay2 {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    height: 100%;
    z-index: 1;
    background-color: #efeff5; }
    @media (max-width: 880px) {
      .ct-contact-overlay2 {
        grid-column: 1 / -1; } }
  .ct-contact-title {
    height: 5rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    z-index: 3;
    font-size: 2.2rem;
    line-height: 1.4;
    letter-spacing: 1.2; }
  .ct-contact-info {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
    z-index: 3;
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 2rem 6rem; }
  .ct-contact-form {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    z-index: 3;
    justify-self: center;
    padding-left: 2rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 15rem minmax(25rem, 35rem);
    grid-template-columns: 1.2fr 2.5fr;
    grid-row-gap: .25rem;
    grid-template-rows: 3rem repeat(3, 2.5rem) auto 2.5rem; }
    @media (max-width: 880px) {
      .ct-contact-form {
        grid-column: 1 / -1;
        padding-left: .5rem; } }
    .ct-contact-form-title {
      grid-column: 1 / -1;
      justify-self: center;
      margin-bottom: 2rem;
      font-size: 1.5rem; }
    .ct-contact-form-name {
      grid-column: 1 / 2;
      font-size: 1.6rem; }
      .ct-contact-form-name__input {
        grid-column: 2 / 3; }
    .ct-contact-form-email {
      grid-column: 1 / 2;
      font-size: 1.6rem; }
      .ct-contact-form-email__input {
        grid-column: 2 / 3; }
    .ct-contact-form-phone {
      grid-column: 1 / 2;
      font-size: 1.6rem;
      margin-right: 1rem; }
      .ct-contact-form-phone__input {
        grid-column: 2 / 3;
        width: 100%; }
    .ct-contact-form-message {
      grid-column: 1 / 2;
      font-size: 1.6rem; }
      .ct-contact-form-message__input {
        grid-column: 2 / 3; }
    .ct-contact-form-submit__input {
      grid-column: 2 / 3;
      width: 50%;
      border-radius: 10%; }
  .ct-contact-email {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    z-index: 10;
    padding: 7rem 3rem 0rem 3rem;
    display: grid;
    grid-template-columns: 1fr; }
    @media (max-width: 880px) {
      .ct-contact-email {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        padding: 2rem 1rem 0rem 1rem; } }
    .ct-contact-email-heading {
      justify-self: center;
      align-self: end;
      font-size: 1.7rem;
      line-height: 1.5;
      letter-spacing: 1.2px;
      padding-bottom: 1.5rem; }
    .ct-contact-email-socialLogos {
      justify-self: center;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .ct-contact-email-socialLogos__link {
        flex-basis: 6rem; }
      .ct-contact-email-socialLogos__img {
        font-size: 5rem;
        color: black;
        transition: all .2s ease-in-out; }
        .ct-contact-email-socialLogos__img:hover {
          color: white; }

.ct-contact-php-header {
  grid-column: 1 / -1;
  z-index: 10;
  font-size: 4rem; }

.ct-contact-php-para {
  grid-column: 1 / -1;
  z-index: 10;
  font-size: 1.6rem; }

input,
textarea {
  border-radius: 3px; }

.samples {
  grid-column: 1 / -1;
  height: auto;
  border: 1.2px dashed #ff4212;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1rem; }
  .samples-heading {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 1.5rem;
    font-size: 1.7rem; }
  .samples-content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr; }
    .samples-content-logo {
      grid-column: 1 / 2;
      font-size: 15rem;
      justify-self: center;
      color: #ff4212; }
      @media (max-width: 700px) {
        .samples-content-logo {
          display: none; } }
    .samples-content-links {
      grid-column: 2 / 3;
      align-self: center;
      margin-right: 1rem;
      justify-items: start; }
      @media (max-width: 700px) {
        .samples-content-links {
          grid-column: 1 / -1; } }

.links-wrapper {
  display: flex;
  justify-content: space-between; }
  .links-wrapper p {
    padding: 0.5rem;
    font-size: 1.8rem; }
  .links-wrapper a {
    background-color: #ff4212;
    color: white;
    display: inline-block;
    width: 9rem;
    border-radius: 7%;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem; }
