// Variables 
/*
$background-main: rgba(55, 255, 255, .8);

$color-primary-dark: rgb(204, 150, 95);
$color-primary-light: rgba(218, 186, 154, 0.199);
$color-primary-lightest: rgba(218, 186, 154, 0.103);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$box-shadow-light: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
// $text-color-primary: rgb(76, 23, 122);
$text-color-primary: rgb(30, 107, 47);
$text-shadow-light: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
*/

$text-color-primary:black;
$text-color-secondary: rgb(255, 66, 18);
$background-grey: rgb(239, 239, 245);


*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html {
	font-size: 65%;
	
	@media (max-width: 750px) {
		font-size: 62%;
	}
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	color: $text-color-primary;
	box-sizing: border-box;
}


