.rd-container {
    display: grid;
    grid-template-columns: 6rem repeat(10, 1fr) 6rem;
    grid-row-gap: 1rem;
}
.rd-header {
    grid-column: 1 / -1;
    height: 8rem;
    position: sticky;
    top: 0;
    transition: all .5s ease-in-out;
    background-color: white;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(2, minmax(50rem, 1fr));

    &-logo {
        grid-column: 1 / 2;
        height: inherit;

        &__img {
            height: 100%;        
        }
    }


    &-main-nav {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: center;
        justify-items: end;

        display: grid;
        grid-template-columns: repeat(5, 1fr);

        &__item {
            list-style: none;
        }
    
        &__link {
            text-decoration: none;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: $text-color-primary;
        }
    
        &__link:hover {
            transform: translateY(5px);
            color: $text-color-secondary;
        }
    }
}

.rd-header-small {
    height: 5rem;
}

.rd-banner {
    grid-column: 1 / -1;

    height: 20rem;
    background-image: url(../img/main-header.jpg);
    background-size: cover;
    background-position: 20%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    &-header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: 1.2px;
        justify-self: center;
        align-self: center;
    }

    &-span {
        color: $text-color-secondary;
    }

    &-info {
        grid-column: 1 / 2;
        justify-self: center;
        grid-row: 2 / 3;
        font-size: 2.2rem;
        letter-spacing: 1.2px;
        align-self: start;
    }
}

.rd-intro {
    grid-column: 2 / 12;
    height: 30rem;
    border: 1.2px dashed $text-color-secondary;
    display: grid;

    grid-template-columns: minmax(60rem, 2fr) minmax(30rem, 1fr);
    grid-template-rows: 1fr 3fr;
    

    &-heading {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        

        justify-self: center;
        align-self: center;
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: 1.2px;
    }

    &-info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        

        padding: 3rem 3rem 3rem 6rem;
        justify-self: center;
        align-self: start;
        font-size: 1.5rem;
        letter-spacing: 1.1px;
    }

    &-icons {
        grid-column: 2 / 3;
        grid-row: 1 / -1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &__1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            justify-self: center;
        }

        &__2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: center;
        }

        &__3 {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            justify-self: center;
        }

        &__1, 
        &__2, 
        &__3 {
            font-size: 12rem;
            color: $text-color-secondary;
            align-self: center;
        }
    
    }
}

.rd-process {
    grid-column: 2 / 12;
    height: 75rem;
    border: 1.2px dashed $text-color-secondary;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;

    &-mobile {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 35rem;
        border-radius: 20%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &__image {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            height: 100%;
            width: 100%;
            
        }

        &__overlay {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            opacity: 0;
            background-color: rgba($text-color-secondary, 0.7);
            z-index: 20;
            transition: all .2s ease-in-out;
            
            display: grid;

            &__text {
                justify-self: center;
                align-self: center;
                padding: 2rem;
                font-size: 1.7rem;
                letter-spacing: 1.1px;
                color: white;

            }
            
           
            &:hover {
                opacity: 1;
            }
        }
    }

    &-tablet {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 35rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &__image {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            height: 100%;
            width: 100%;
            
        }

        &__overlay {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            opacity: 0;
            background-color: rgba($text-color-secondary, 0.7);
            z-index: 20;
            transition: all .2s ease-in-out;
            
            display: grid;

            &__text {
                justify-self: center;
                align-self: center;
                padding: 2rem;
                font-size: 1.7rem;
                letter-spacing: 1.1px;
                color: white;

            }
           
            &:hover {
                opacity: 1;
            }
        }
    }

    &-laptop {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 35rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &__image {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            height: 100%;
            width: 100%;
            
        }

        &__overlay {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            opacity: 0;
            background-color: rgba($text-color-secondary, 0.7);
            z-index: 20;
            transition: all .2s ease-in-out;
            
            display: grid;

            &__text {
                justify-self: center;
                align-self: center;
                padding: 2rem;
                font-size: 1.7rem;
                letter-spacing: 1.1px;
                color: white;

            }
           
            &:hover {
                opacity: 1;
            }
        }

    }

    &-desktop {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 35rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &__image {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            height: 100%;
            width: 100%;
            
        }

        &__overlay {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            opacity: 0;
            background-color: rgba($text-color-secondary, 0.7);
            z-index: 20;
            transition: all .2s ease-in-out;
            
            display: grid;

            &__text {
                justify-self: center;
                align-self: center;
                padding: 2rem;
                font-size: 1.7rem;
                letter-spacing: 1.1px;
                color: white;

            }
           
            &:hover {
                opacity: 1;
            }
        }

    }

}
