.seo-container {
    display: grid;
    grid-template-columns: 20rem repeat(10, 1fr) 20rem;
    grid-row-gap: 1rem;

    @media (max-width: 1200px) {
        grid-template-columns: 12rem repeat(10, 1fr) 12rem;
    }

    @media (max-width: 1100px) {
        grid-template-columns: 8rem repeat(10, 1fr) 8rem;
    }

    @media (max-width: 1050px) {
        grid-template-columns: 2rem repeat(10, 1fr) 2rem;
    }
}
.seo-header {
    grid-column: 1 / -1;
    height: 8rem;
    position: sticky;
    top: 0;
    transition: all .5s ease-in-out;
    background-color: white;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(2, minmax(50rem, 1fr));

    &-logo {
        grid-column: 1 / 2;
        height: inherit;

        &__img {
            height: 100%;        
        }
    }


    &-main-nav {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: center;
        justify-items: end;

        display: grid;
        grid-template-columns: repeat(5, 1fr);

        &__item {
            list-style: none;
        }
    
        &__link {
            text-decoration: none;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: $text-color-primary;
        }
    
        &__link:hover {
            transform: translateY(5px);
            color: $text-color-secondary;
        }
    }
}

.seo-header-small {
    height: 5rem;
}

.seo-banner {
    grid-column: 1 / -1;

    height: 20rem;
    background-image: url(../img/main-header.jpg);
    background-size: cover;
    background-position: 20%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

    &-header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: 1.2px;
        justify-self: center;
        align-self: center;
        
    }

    &-span {
        color: $text-color-secondary;
    }

    &-info {
        grid-column: 1 / 2;
        justify-self: center;
        grid-row: 2 / 3;
        font-size: 2.2rem;
        letter-spacing: 1.2px;
        align-self: start;
    }
}

.seo-details {
    grid-column: 2 / 12;
    height: auto;
    border: 1.2px dashed $text-color-secondary;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-gap: 1rem;
    grid-column-gap: 2rem;

    &-heading {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: 1.2px;
        align-self: center;
        justify-self: center;
        padding: 1rem;

        @media (max-width: 560px) {
            font-size: 2.4rem;
        }

        @media (max-width: 450px) {
            font-size: 2.3rem;
        }


    }

    &-info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        padding: 2rem 12rem;
        justify-self: center;
        font-size: 1.5rem;
        letter-spacing: 1.1px;

        @media (max-width: 1300px) {
            padding: 2rem 8rem;
        }

        @media (max-width: 560px) {
            padding: 2rem 5rem;
        }

        @media (max-width: 450px) {
            padding: 1rem 3rem;
        }

        &-span {
            color: $text-color-secondary;
            font-weight: 800;
        }
    }
}

.seo-cta {
    grid-column: 1 / -1;
    height: 30rem;
    background-image: linear-gradient(to right bottom, rgba($text-color-secondary, .4), rgba($text-color-secondary, .1)),
                         url(../img/google.jpg);
    background-size: cover;
    background-position: center;
    display: grid;

    &-title {
        justify-self: center;
        align-self: center;
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: 1.2px;

        &-span {
            color: white;
        }

    }
}

.seo-process {
    grid-column: 2 / 12;
    height: 25rem;
    border: 1.2px dashed $text-color-secondary;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-gap: 1rem;
    grid-column-gap: 2rem;

    &-heading {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 3rem;
        line-height: 1.2;
        letter-spacing: 1.2px;
        align-self: center;
        justify-self: center;
    }

    &-info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        justify-self: center;
        font-size: 1.5rem;
        letter-spacing: 1.1px;

        &-item {
            margin-top: 2rem;
            margin-left: 5rem;
        }
    }


    
}
